* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--MainFont);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f4f4f4;
}
:root {
  --MainFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --mainColor: #06c167;
}
.container {
  max-width: 73.5625rem;
  margin: auto;
  overflow: hidden;
}
/* Header Section Start  */
header {
  height: min-content;
}
/* nav */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
nav .logo a {
  text-decoration: none;
}
nav .logo span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--mainColor);
}
nav .navItem ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
nav .navItem ul li a {
  text-decoration: none;
  color: black;
}
nav .navItem .homeBtn {
  color: var(--mainColor);
  position: relative;
}
.homeBtn::after {
  content: "";
  height: 0.375rem;
  width: 0.375rem;
  background-color: #06c167;
  position: absolute;
  top: 1.5rem;
  right: 50%;
  border-radius: 50%;
}
.menuIcon {
  display: none;
}
/* nav */
/* Header Section End  */
/* Media Query */
@media (max-width: 1200px) {
  /* nav */
  nav .logo {
    padding-left: 1rem;
  }
  nav .navItem {
    padding-right: 1rem;
  }
  /* nav */
}
@media (max-width: 992px) {
  /* nav */
  nav .navItem ul {
    gap: 1rem;
  }
  /* nav */
}
@media (max-width: 768px) {
  /* nav */
  nav .navItem ul {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .menuIcon img {
    width: 90%;
  }
  /* nav */
}
@media (max-width: 530px) {
  /* nav */
  .menuIcon img {
    width: 70%;
  }
  /* nav */
}
