* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--MainFont);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f4f4f4;
}
:root {
  --MainFont: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --mainColor: #06c167;
}
.container {
  max-width: 73.5625rem;
  margin: auto;
  overflow: hidden;
}
/* Header Section Start  */
header {
  height: min-content;
}
/* nav */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
nav .logo a {
  text-decoration: none;
}
nav .logo span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--mainColor);
}
nav .navItem ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
nav .navItem ul li a {
  text-decoration: none;
  color: black;
}
nav .navItem .homeBtn {
  color: var(--mainColor);
  position: relative;
}
.homeBtn::after {
  content: "";
  height: 0.375rem;
  width: 0.375rem;
  background-color: #06c167;
  position: absolute;
  top: 1.5rem;
  right: 50%;
  border-radius: 50%;
}
.menuIcon {
  display: none;
}
/* nav */
/* Hero */
.hero {
  display: flex;
  /* background-color: #e334; */
  margin-top: 2rem;
}
.leftHero {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 11rem;
}
.leftHero .content h1 {
  font-size: 3.7rem;
  letter-spacing: 0.2rem;
  padding-right: 4rem;
  color: #1d1d1f;
}
.leftHero .content p {
  margin-top: 1rem;
  line-height: 142%;
  padding-right: 6rem;
  color: #1d1d1fbf;
}
.leftHero .content button {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.9rem 1.5rem;
  background-color: var(--mainColor);
  outline: 0;
  border: 0;
  color: white;
  cursor: pointer;
}
.leftHero .content button span {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
.leftHero .brandLogo {
  padding-right: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.leftHero .brandLogo img {
  width: 25%;
}
.SmallbrandLogo {
  display: none;
}
.rightHero {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}
.rightHeroContainer {
  display: flex;
  justify-content: center;
}
.rightHero .imgSectrion {
  width: 32.25rem;
  padding-left: 2rem;
  /* overflow: hidden; */
}
.mainPicture {
  width: 100%;
  position: relative;
  /* display: flex; */
  padding-left: 6rem;
}
.rightHero .mainPicture img {
  width: 100%;
}
.dotImg {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  width: 10.875rem;
}
.rating {
  position: absolute;
  top: 40%;
  left: 9%;
  width: 11.375rem;
}
.feedback {
  position: absolute;
  width: 11.375rem;
  top: 30%;
  right: -2%;
}
.mobileDeviceRatingsFeedback {
  display: none;
}
/* Hero */
/* Header Section End  */
/* Media Query */
@media (max-width: 1200px) {
  /* nav */
  nav .logo {
    padding-left: 1rem;
  }
  nav .navItem {
    padding-right: 1rem;
  }
  /* nav */
}
@media (max-width: 992px) {
  /* nav */
  nav .navItem ul {
    gap: 1rem;
  }
  /* nav */
}
@media (max-width: 768px) {
  /* nav */
  nav .navItem ul {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .menuIcon img {
    width: 90%;
  }
  /* nav */
}
@media (max-width: 530px) {
  /* nav */
  .menuIcon img {
    width: 70%;
  }
  /* nav */
}
